@import './variables.scss';

body {
    color: $text-colour;
}

.uk-icon {
    align-items: center;
    justify-content: center;
    display: flex;
}

// buttons without border and usually with an icon
.uk-button-none {
    align-items: center;
    justify-content: center;
    display: flex;

    padding: 0;
    line-height: 1.5;
    background: 0 0;

    // change color of the svg icon inside the button
    &:hover {
        fill: $accent-colour !important;
    }
}

.uk-dropdown-nav {
    // styles checkobx items in the dropdown menus
    .uk-nav-check {
        display: flex;
        align-items: center;

        span {
            flex: 1;
        }
    }
}

/* .uk-button {
    align-items: center;
    justify-content: center;
    display: flex;
} */

// vuebar scrollbar

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    backface-visibility: hidden;
    transform: rotate3d(0, 0, 0, 0);
    transition: background-color 100ms ease-out, margin 100ms ease-out;
    background-color: rgba(black, 0.1);
    margin: 0 0 0 5px;
    border-radius: 0;
    height: 100%;
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(black, 0.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(black, 0.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(black, 0.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(black, 0.5);
}
